:root{
    --default--font--size: 1.3rem;
    --font--size--text:0.9rem;
    --bgr--color--nav-item: rgb(240 242 245);
    --bgr-color--btn--add: #1b74e4;
    --bgr-color-btn-info: #e4e6eb;
    --color-text:#65676b;
    --box--shadow--chat: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}